@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #222;
    background: linear-gradient(120deg, #f4e1ff, #f0f0ff, #e8d4ff);
    background-attachment: fixed;
}